{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}

<h1>Liste des catégories</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Titre</th>
        </tr>
    </thead>
{% for categorie in categories %}
    <tr scope="col">
        <td scope="'row"><a href=" {{ path('show_categorie', {'id': categorie.id}) }} "> {{ categorie.titre }} </a></td>
    </tr>
{% endfor %}
</table>

<p><a href="{{ path('new_categorie') }}">Ajouter un categorie</a></p> <br>

{% endblock %}